URxvt*internalBorder: 15
URxvt*externalBorder: 0
*URxvt.geometry: 59x17

! ------------------------------------------------------------------------------
! rofi
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.font              : SF Pro Display Regular 11
!rofi.font              : Misc Termsyn 12
rofi.columns           : 1
rofi.separator-style   : none
rofi.hide-scrollbar    : true
rofi.location          : 0
rofi.padding           : 32
rofi.fullscreen        : false
rofi.width             : 300
rofi.lines             : 6

! URxvt #101423  #070D1F  
!URxvt*foreground: #EAE1EA
!URxvt*background: [100]#101423
URxvt*saveline: 15000
URxvt*termName: rxvt-256color
URxvt*iso14755: false
URxvt*depth: 32
URxvt*scrollBar: false
URxvt*scrollBar_right: false

!URxvt*letterSpace: -1
!URxvt*letterSpace: -1
!URxvt.font: xft:DejaVu Sans Mono:size=11 
!#define termfont      xft:SF Mono:size=8:antialias=false
#define termfont      xft:Go Mono for Powerline:size=8:antialias=true
URxvt.font: termfont:style=Medium, xft:Symbola:size=9:style=Regular
URxvt.boldFont: termfont:style=Semibold, xft:Symbola:size=8.7:style=Bold
URxvt.italicFont: termfont:style=italic, xft:Symbola:size=8.7:style=Italic
URxvt.boldItalicFont: termfont:style=bolditalic:antialias=true, xft:Symbola:size=8.7:style=Bold

URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.urlLauncher: exo-open
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt*buffered: false


! X colors.
! Generated by 'wal'
*foreground:        #e4eceb
*background:        #0b1015
*.foreground:       #e4eceb
*.background:       #0b1015

! Colors 0-15.
*.color0: #0b1015
*color0:  #0b1015
*.color1: #B08C6D
*color1:  #B08C6D
*.color2: #73888B
*color2:  #73888B
*.color3: #A3A9A1
*color3:  #A3A9A1
*.color4: #C7C0AE
*color4:  #C7C0AE
*.color5: #B7CDCB
*color5:  #B7CDCB
*.color6: #CDDBD5
*color6:  #CDDBD5
*.color7: #e4eceb
*color7:  #e4eceb
*.color8: #9fa5a4
*color8:  #9fa5a4
*.color9: #B08C6D
*color9:  #B08C6D
*.color10: #73888B
*color10:  #73888B
*.color11: #A3A9A1
*color11:  #A3A9A1
*.color12: #C7C0AE
*color12:  #C7C0AE
*.color13: #B7CDCB
*color13:  #B7CDCB
*.color14: #CDDBD5
*color14:  #CDDBD5
*.color15: #e4eceb
*color15:  #e4eceb

! Black color that will not be affected by bold highlighting.
*.color66: #0b1015
*color66:  #0b1015

