URxvt*internalBorder: 15
URxvt*externalBorder: 0
*URxvt.geometry: 56x17

! ------------------------------------------------------------------------------
! rofi
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.font              : SF Pro Display Regular 11
!rofi.font              : Misc Termsyn 12
rofi.columns           : 1
rofi.separator-style   : none
rofi.hide-scrollbar    : true
rofi.location          : 0
rofi.padding           : 32
rofi.fullscreen        : false
rofi.width             : 300
rofi.lines             : 6

! URxvt #101423  #070D1F  
!URxvt*foreground: #EAE1EA
!URxvt*background: [100]#101423
URxvt*saveline: 15000
URxvt*termName: rxvt-256color
URxvt*iso14755: false
URxvt*depth: 32
URxvt*scrollBar: false
URxvt*scrollBar_right: false

!URxvt*letterSpace: -1
URxvt*letterSpace: -1
!URxvt.font: xft:DejaVu Sans Mono:size=11 
#define termfont      xft:SF Mono:size=8:antialias=true
!#define termfont      xft: Roboto Mono for Powerline:size=9:antialias=true
URxvt.font: termfont:style=Medium, xft:Symbola:size=8.7:style=Regular
URxvt.boldFont: termfont:style=Semibold, xft:Symbola:size=8.7:style=Bold
URxvt.italicFont: termfont:style=italic, xft:Symbola:size=8.7:style=Italic
URxvt.boldItalicFont: termfont:style=bolditalic:antialias=true, xft:Symbola:size=8.7:style=Bold

URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.urlLauncher: exo-open
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 16
URxvt.tabbed.tab-fg: 15
URxvt.tabbed.tab-bg: 4
URxvt*buffered: false


! X colors.
! Generated by 'wal'
*foreground:        #EEEEEE
*background:        #100f16
*.foreground:       #EEEEEE
*.background:       #100f16
URxvt*foreground:   #EEEEEE
URxvt*background:   [100]#100f16
URxvt*cursorColor:  #EEEEEE
URxvt*borderColor:  [100]#100f16

! Colors 0-15.
*.color0: #100f16
*color0:  #100f16
*.color1: #FBD789
*color1:  #FBD789
*.color2: #AE8A7E
*color2:  #AE8A7E
*.color3: #746B87
*color3:  #746B87
*.color4: #A59AA0
*color4:  #A59AA0
*.color5: #D1B0A6
*color5:  #D1B0A6
*.color6: #D9C2BA
*color6:  #D9C2BA
*.color7: #eae3e0
*color7:  #eae3e0
*.color8: #a39e9c
*color8:  #a39e9c
*.color9: #FBD789
*color9:  #FBD789
*.color10: #AE8A7E
*color10:  #AE8A7E
*.color11: #746B87
*color11:  #746B87
*.color12: #A59AA0
*color12:  #A59AA0
*.color13: #D1B0A6
*color13:  #D1B0A6
*.color14: #D9C2BA
*color14:  #D9C2BA
*.color15: #eae3e0
*color15:  #eae3e0

! Black color that will not be affected by bold highlighting.
*.color66: #100f16
*color66:  #100f16