[Settings]
ShowAllProcesses=FALSE
MorePrecision=TRUE
FullCommandLine=TRUE
ShowStatusIcon=FALSE
ShowMemoryInXBytes=TRUE
MonitorPaintBox=TRUE
ShowApplicationIcons=TRUE
ToolbarStyle=SMALL
PromptTerminateTask=TRUE
RefreshRate=750
ColumnUID=FALSE
ColumnPID=TRUE
ColumnPPID=FALSE
ColumnState=FALSE
ColumnVSZ=FALSE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=FALSE
SortColumn=5
SortType=1
WindowWidth=1078
WindowHeight=570
HandlePosition=91
ProcessTreeView=FALSE
